@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Hind+Siliguri&display=swap');

body {
    background-color: #ede7e3 ;
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header {
    background-color: #489fb5 ;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center ;
    color: #ffa62b ;
    text-decoration: none ;
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
    padding: 35px;
}
nav a:hover {
    background-color: #82c0cc ;
    color: #489fb5
}
h4 {
    color: black ;
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
}
#hero-img {
    width: 100%
}
#hero-msg h1 {
    text-align: center ;
}
#hero-msg h4 {
    text-align: center ;
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
}
.home-title {
    color: #489fb5;
    font-family: 'Audiowide', 'Bradley Hand', sans-serif;
    font-size: 2em ;
    margin-top: 10px;
}
.button-box {
    text-align: center ;
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
}
main section {
    text-align: center ;
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
}
main section img {
    box-sizing: border-box;
}
.book {
    background-color: #82c0cc ;
    color: black ;
    text-decoration: none ;
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: #82c0cc ;
    color: black ;
    text-decoration: none ;
    font-family: 'Hind Siliguri' , Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: #82c0cc ;
    color: #489fb5 ;
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
}
.join:hover {
    background-color: #82c0cc ;
    color: black ;
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
}
main section {
    text-align: center ;
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
}
#background {
    height: 725px;
    background-color:#82c0cc ;
}
.msg {
    background-color: #489fb5;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: black ;
    font-family: 'Audiowide', 'Bradley Hand', sans-serif;
}
.msg p {
    color: black ;
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #489fb5;
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
}
.footer h3 {
    color: #489fb5 ;
    text-decoration: underline ;
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
}
.footer a {
    color: #489fb5 ;
    text-decoration: none ;
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
}
.footer a:hover {
    color: #489fb5 ;
    text-decoration: underline ;
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.social {
    padding-top: 15px;
}
.card-img {
    border: 8px solid #ffa62b;
}
.rivers-card {
    margin: 200px 0;
}
.camping-card {
    margin: 200px 0;
}
.rapids-card {
    margin: 200px 0;
}